<%- include('../layout/header') %> 

<div class="container">
    <div class="row">
        <div class="column">
            <h1>Edit bicycle <%= bicycle._id %></h1>
            <a class="nav-link" href="/bicycle"> List of bicycles</a>
        </div>
        <div class="column">
            <form action="/bicycle/edit/<%= bicycle._id %>" method="post">
                
                <!-- Campo Color -->
                <div class="mb-3">
                    <label for="color" class="form-label">Color:</label>
                    <select class="form-select" id="color" name="color" required>
                        <option value="">--select--</option>
                        <option value="Blanco" <% if (bicycle.color === "Blanco") { %>selected<% } %>>Blanco</option>
                        <option value="Negro" <% if (bicycle.color === "Negro") { %>selected<% } %>>Negro</option>
                        <option value="Rojo" <% if (bicycle.color === "Rojo") { %>selected<% } %>>Rojo</option>
                        <option value="Verde" <% if (bicycle.color === "Verde") { %>selected<% } %>>Verde</option>
                    </select>
                </div>
                
                <!-- Campo Modelo -->
                <div class="mb-3">
                    <label for="model" class="form-label">Modelo:</label>
                    <select class="form-select" id="model" name="model" required>
                        <option value="">--select--</option>
                        <option value="Ruta" <% if (bicycle.model === "Ruta") { %>selected<% } %>>Ruta</option>
                        <option value="Cross" <% if (bicycle.model === "Cross") { %>selected<% } %>>Cross</option>
                        <option value="Montaña" <% if (bicycle.model === "Montaña") { %>selected<% } %>>Montaña</option>
                        <option value="Turismo" <% if (bicycle.model === "Turismo") { %>selected<% } %>>Turismo</option>
                    </select>
                </div>
    
                <!-- Campo Latitud -->
                <div class="mb-3">
                    <label for="latitud" class="form-label">Latitud:</label>
                    <input type="text" class="form-control" id="latitud" name="latitud" value="<%= bicycle.location.coordinates[1] %>" required>
                </div>
    
                <!-- Campo Longitud -->
                <div class="mb-3">
                    <label for="longitud" class="form-label">Longitud:</label>
                    <input type="text" class="form-control" id="longitud" name="longitud" value="<%= bicycle.location.coordinates[0] %>" required>
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mx-auto">Create</button>
                </div>
            </form>
            
        </div>
    </div>
</div>